.vscode/
__pycach__/
egs/TimeSequenceClassify/train_data/
egs/TimeSequenceClassify/result*/
egs/TimeSequenceClassify/model/__pycach__/
egs/TimeSequenceClassify/train_data/
egs/TextClassify/data2/
egs/TextClassify/data
egs/TextClassify/model
egs/TextClassify/utils
egs/TextClassify/TilteClassify/*
egs/TextClassify/location_traffic_convenience/*
egs/Regression/data2.xlsx
