.vscode/
__pycach__/
egs/TimeSequenceClassify/train_data/
egs/TimeSequenceClassify/result*/
egs/TimeSequenceClassify/model/__pycache__/*
egs/TimeSequenceClassify/train_data/
egs/TextClassify/data2/*
egs/TextClassify/data/*
egs/TextClassify/model
egs/TextClassify/utils
egs/TextClassify/__pycache__/*
egs/TextClassify/aclImdb_v1/*
egs/TextClassify/holtel_sent/*
egs/Regression/data2.xlsx
utils/__pycache__/*
model/__pycache__/*
egs/WordSenseDisambiguation/dataset/*
egs/WordSenseDisambiguation/End2endXLMRoBertaNet_nochop/*
egs/cvr/*.csv
egs/cvr/result/*
egs/MVSA/
!egs/MVSA/*.py
egs/MultiModel/
!egs/MultiModel/*.py
