.vscode/
__pycach__/
egs/TimeSequenceClassify/train_data/
egs/TimeSequenceClassify/result*/
egs/TimeSequenceClassify/model/__pycach__/*
egs/TimeSequenceClassify/train_data/
egs/TextClassify/data2/*
egs/TextClassify/data/*
egs/TextClassify/model
egs/TextClassify/utils
egs/TextClassify/TilteClassify/*
egs/TextClassify/location_traffic_convenience/*
egs/TextClassify/location_easy_to_find/*
egs/TextClassify/others_willing_to_consume_again/*
egs/TextClassify/price_cost_effective/*
egs/TextClassify/service_parking_convenience/*
egs/TextClassify/location_distance_from_business_district/*
egs/TextClassify/__pycach__/*
egs/Regression/data2.xlsx
utils/__pycach__/*
model/__pycach__/*
egs/WordSenseDisambiguation/dataset/*
egs/WordSenseDisambiguation/End2endXLMRoBertaNet_nochop/*
egs/cvr/*.csv
